// Aquí declararé todas las variables y funciones, etc 
// Las variables en SAAS son $mivariable. *Piensa como en programación.*

$bg-color-primary: rgb(0, 124, 131);
$bg-color-secondary: rgb(0, 55, 58);
$font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-title-size: 28px;

@mixin flex-aligned {
    display: flex;
    align-items: center;
    flex-direction: column;
}