// Aquí declararé todas las variables y funciones, etc 
// Las variables en SAAS son $mivariable. *Piensa como en programación.*

@mixin flex-aligned {
    display: flex;
    justify-content: center;
    align-items: center;
}